#main{

  background-color: #f5f5f5;
  margin:20px 20px 20px 20px;
  padding: 10px 20px;

}

#title{
  text-align: center;
  display: block;
}
#img-div{
  margin:10px;
  background-color: #fff;
}
#image{
  display: block;
  margin-left: auto;
  margin-right: auto
}
#img-caption{
  text-align: center;
  display:bock;

}

#tribute {
  width: 60%;
  margin: auto;
  line-height: 25px;
}

li {
  margin-left: -20px;
}

footer {
  text-align: center;
}